[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pipfile = "*"
pyyaml = "*"
troposphere = {extras = ["policy"], version = "*"}
awslogs = "*"

[dev-packages]

[requires]
python_version = "3"
